/* Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/*Global styles*/

*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*Variables*/

:root {
  --primary-color: #222222;
  --secondary-color: #444444;
}

/*Global class*/
.header {
  padding: 2rem;
  .logo {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
section {
  padding: 5em 2em;
}
.hero {
  text-align: center;
  .hero-img {
    width: 70%;
  }
  .right-col {
    h1 {
      color: var(--primary-color);
      font-weight: bold;
      font-size: 3rem;
    }
    h1::first-letter {
      text-transform: capitalize;
    }
    .subhead {
      color: var(--secondary-color);
      margin-bottom: 3em;
    }
    .subhead::first-letter {
      text-transform: capitalize;
    }

    .back-cta {
      text-decoration: none;
      background-color: var(--primary-color);
      color: white;
      padding: 1em;
      border-radius: 3em;
      cursor: pointer;
    }
  }
}

footer {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    display: flex;

    .right-col {
      width: 50%;

      .right-col h1 {
        font-size: 1em;
        max-width: 518;
      }
    }

    .hero-img {
      width: 50%;
      max-width: 518px;
      padding-left: 3em;
    }
  }
}
